{% extends "base.html" %}
{% block "righttop"%}财务管理>>审批信息{% endblock %}
{% block "contents" %}
{% load getfinanceid %}
<table class="table table-striped table-bordered table-condensed table-hover">
<tr><th>编号</th><th style="width:10%">名称</th><th style="width:20%;">描述</th><th style="width:10%">申请人</th><th style="width:12%">申请日期</th><th>金额(元)</th><th>类型</th><th style="width:20%;">操作</th></tr>
{% if not objects %}
<tr><td colspan="8">没有需要审批的数据!</td></tr>
{% endif %}
{% for object in objects %}
<form id="examineform{{object.pk}}">
<input type="text" style="display:none;" name="finance" value="{{object.pk}}"/>
<tr>
    <td>{{object.financedate|get_financeid:object.pk}}</td>
    <td>{% if object.financeimg %}<a href="#" onclick="return dialog_show('{% url "getattach" %}?imgpath={{object.financeimg}}', '查看附件')" title="查看附件" >{{object.financename}}</a>{%else%}{{object.financename}}{% endif %}</td>
    <td>{{object.financeintro}}</td>
    <td>{{object.startperson.username}}</td>
    <td>{{object.financedate|date:"Y-m-d h:s"}}</td>
    <td>{{object.maneycount}}</td>
    <td>{{object.get_financetype_display}}</td>
    <td><input type="button" name="operate" class="btn btn-small green" style="width:58px;" onclick="ajax_to_dialog('examineform{{object.pk}}','{% url "examinemakeshow" %}','通过申请单',1)" value="通过"/>&#160;
        <input type="submit" name="operate" class="btn btn-small red" style="width:58px;" onclick="return ajax_to_dialog('examineform{{object.pk}}','{% url "examinemakeshow" %}','驳回申请单')" value="驳回"/></td>
</tr>
</form>
{% endfor %}
<tr><td colspan="8"><a href="{% url 'examinehistoryshow' %}">查看审批历史数据</a></td></tr>
</table>
{% endblock %}
